@use 'variables' as v;

.p-home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;

    &__quick-access {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        width: 100%;
        background-color: v.$color-main-bg;
    }
}
