@use 'variables' as v;
@use 'fonts';
@use 'base';

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 112rem;
    padding: 2rem;
    margin: 0 auto;
}
.top-nav-title a {
    font-size: 2.4rem;
    color: v.$color-cakephp-red;
}
.top-nav-title span {
    color: v.$color-cakephp-gray;
}
.top-nav-links a {
    margin: 0 0.5rem;
}
.top-nav-title a,
.top-nav-links a {
    font-weight: bold;
}

@media screen and (max-width: v.$breakpoint-sm) {
    .top-nav {
        margin: 0 auto;
    }
}